In [2]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("data-clean.csv", encoding="utf-8")

In [48]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72112 entries, 0 to 72111
Data columns (total 10 columns):
﻿id            72111 non-null object
nombre         72108 non-null object
inicio         72105 non-null object
fin            72105 non-null object
grado          72105 non-null object
institucion    72108 non-null object
entidad        72108 non-null object
programa       72108 non-null object
area           72105 non-null object
monto          72108 non-null object
dtypes: object(10)
memory usage: 5.5+ MB

,﻿id,nombre,inicio,fin,grado,institucion,entidad,programa,area,monto
0,1,ARELLANO PATRICIA,01/01/2016,31/12/2017,2. MAE,UA CIUDAD JUAREZ,CHIHUAHUA,MAESTRIA EN ESTUDIOS LITERARIOS,IV. HUMANIDADES Y CS. DE LA CONDUCTA,"9,860.40"
1,2,A LA TORRE ISLAS MARCO ALBERTO,01/02/2015,31/01/2019,1. DOC,CIAD,SONORA,DOCTORADO EN DESARRROLLO REGIONAL,V. CIENCIAS SOCIALES,"164,610.60"
2,3,AANDERUD OCHOA MICHELLE PATRICIA,01/08/2016,31/07/2018,2. MAE,UIA,DISTRITO FEDERAL,MAESTRIA EN ESTUDIOS DE ARTE,IV. HUMANIDADES Y CS. DE LA CONDUCTA,"123,457.95"
3,4,AARLAND RAYN CLARENC,14/01/2013,13/01/2017,1. DOC,UAM,DISTRITO FEDERAL,DOCTORADO EN BIOLOGIA EXPERIMENTAL,II. BIOLOGIA Y QUIMICA,"5,966.74"
4,5,ABAD AGUILAR IRVING,01/02/2017,31/01/2018,3. ESP,U VERACRUZANA,VERACRUZ,ESPECIALIZACION EN GESTION E IMPACTO AMBIENTAL,VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS,"100,975.60"

In [50]:
# Clean the data
# Find NaNs indexes
nans = lambda df: df[df.isnull().any(axis=1)]
nans_indexes = list(nans(df).index)
print(nans_indexes)

[11700, 21326, 21327, 72108, 72109, 72110, 72111]

In [54]:
# Inicio has weird date sometimes
invalid = df[df["inicio"]=="-"]
invalid_indexes = list(invalid.index)
print(invalid_indexes)

invalid=invalid_indexes+nans_indexes
df=df.drop(invalid)
df.info()

[1667, 17518, 21354]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72102 entries, 0 to 72107
Data columns (total 10 columns):
﻿id            72102 non-null object
nombre         72102 non-null object
inicio         72102 non-null object
fin            72102 non-null object
grado          72102 non-null object
institucion    72102 non-null object
entidad        72102 non-null object
programa       72102 non-null object
area           72102 non-null object
monto          72102 non-null object
dtypes: object(10)
memory usage: 6.1+ MB

In [55]:
df.to_csv("data-clean.csv", encoding="utf-8")

In [59]:
#Normalizing factor for visualization
factor=729/72102

729

In [62]:
#Becarios by state
x=df[["entidad"]].groupby("entidad").size().sort_values(ascending=False)
estados=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
print(estados)
#Round-off errors
for j in range(12):
    estados[j][1]+=1
#List of states to zip
lista_estados= []
for i in range(32):
    lista_estados+=estados[i][1]*[[estados[i][0],i]]
print()
print([lista_estados[j] for j in range(4)],"\n" ,len(lista_estados))

[['DISTRITO FEDERAL', 230], ['ESTADO DE MEXICO', 43], ['JALISCO', 43], ['NUEVO LEON', 37], ['PUEBLA', 35], ['VERACRUZ', 30], ['BAJA CALIFORNIA', 29], ['MORELOS', 25], ['GUANAJUATO', 24], ['QUERETARO', 23], ['MICHOACAN', 22], ['SAN LUIS POTOSI', 20], ['SONORA', 17], ['YUCATAN', 16], ['COAHUILA', 15], ['SINALOA', 14], ['CHIHUAHUA', 14], ['TAMAULIPAS', 9], ['CHIAPAS', 8], ['HIDALGO', 7], ['OAXACA', 7], ['GUERRERO', 7], ['BAJA CALIFORNIA SUR', 6], ['TABASCO', 6], ['ZACATECAS', 5], ['DURANGO', 5], ['AGUASCALIENTES', 5], ['TLAXCALA', 5], ['COLIMA', 3], ['NAYARIT', 3], ['QUINTANA ROO', 3], ['CAMPECHE', 1]]

[['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0]]
 729

In [64]:
#Becarios por grado
x=df[["grado"]].groupby("grado").size().sort_values(ascending=False)
grados=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
print(grados)
#Ajustar para que de 729
grados[0][0]="Maestría"
grados[1][0]="Doctorado"
grados[2][0]="Especialidad"
grados[3][0]="Estancia Técnica"
grados[0][1]+=1
grados[1][1]+=1
#Crear la lista de la que haremos zip
lista_grados = []
for i in range(4):
    lista_grados+=grados[i][1]*[[grados[i][0],i]]
print()
print([lista_grados[j] for j in range(4)],"\n" ,len(lista_grados))

[['2. MAE', 456], ['1. DOC', 238], ['3. ESP', 32], ['4. EST TEC', 1]]

[['Maestría', 0], ['Maestría', 0], ['Maestría', 0], ['Maestría', 0]]
 729

In [65]:
#Becarios por area
x=df[["area"]].groupby("area").size().sort_values(ascending=False)
areas=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
areas.sort(key=lambda j:j[0])
#Ajustar para que de 729
del(areas[0])
del(areas[4:6])
del(areas[-1])
print(areas)
for j in range(1,5):
    areas[j][1]+=1
sum([x[1] for x in areas])
areas[1][1]+=1
#Crear la lista de la que haremos zip
lista_areas = []
for i in range(7):
    lista_areas+=areas[i][1]*[[areas[i][0],i]]
print()
print([lista_areas[j] for j in range(4)])

[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 58], ['II. BIOLOGIA Y QUIMICA', 94], ['III. MEDICINA Y CS. DE LA SALUD', 68], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 107], ['V. CIENCIAS SOCIALES', 149], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 85], ['VII. INGENIERIAS', 164]]

[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0]]

In [66]:
#Becarios por inicio
x=[str(a)[-4:]+" "+str(a)[-7:-5] for a in df["inicio"]]
x.sort()
print(x[:10])
inicios={}
for a in x:
    inicios[a]=inicios.get(a,0)+1
inicios = [[a,inicios[a]] for a in inicios]
inicios.sort(key=lambda x:x[0])
print(inicios)

['2011 08', '2011 08', '2011 08', '2011 08', '2012 01', '2012 01', '2012 01', '2012 01', '2012 01', '2012 01']
[['2011 08', 4], ['2012 01', 34], ['2012 02', 16], ['2012 04', 1], ['2012 05', 1], ['2012 08', 87], ['2012 09', 55], ['2013 01', 557], ['2013 02', 180], ['2013 03', 118], ['2013 04', 20], ['2013 05', 11], ['2013 06', 2], ['2013 08', 1490], ['2013 09', 562], ['2013 10', 41], ['2013 11', 5], ['2014 01', 771], ['2014 02', 611], ['2014 03', 156], ['2014 04', 16], ['2014 05', 16], ['2014 06', 10], ['2014 08', 2191], ['2014 09', 909], ['2014 10', 70], ['2014 11', 20], ['2015 01', 1079], ['2015 02', 1667], ['2015 03', 580], ['2015 04', 33], ['2015 05', 151], ['2015 06', 50], ['2015 08', 9140], ['2015 09', 4216], ['2015 10', 138], ['2015 11', 21], ['2015 12', 1], ['2016 01', 3527], ['2016 02', 2997], ['2016 03', 644], ['2016 04', 245], ['2016 05', 90], ['2016 06', 45], ['2016 08', 11899], ['2016 09', 4198], ['2016 10', 317], ['2016 11', 15], ['2016 12', 1], ['2017 01', 2302], ['2017 02', 4760], ['2017 03', 926], ['2017 04', 140], ['2017 05', 186], ['2017 06', 22], ['2017 07', 23], ['2017 08', 2804], ['2017 09', 11585], ['2017 10', 279], ['2017 11', 36], ['2017 12', 2], ['2018 01', 19], ['2018 02', 10]]

In [68]:
#Becarios por año inicio
x=[str(a)[-4:] for a in df["inicio"]]
x.sort()
inicios={}
for a in x:
    inicios[a]=inicios.get(a,0)+1
inicios = [[int(a),int(factor*inicios[a])] for a in inicios]
inicios.sort(key=lambda x:x[0])
del(inicios[0],inicios[-1])
#Ajuste 729
inicios[0][1]+=1
inicios[5][1]+=1
inicios[2][1]+=1
print(inicios)
lista_inicios = []
for i in range(6):
    lista_inicios+=inicios[i][1]*[[inicios[i][0],i]]
print()
print([lista_inicios[j] for j in range(4)],len(lista_inicios))

[[2012, 2], [2013, 30], [2014, 49], [2015, 172], [2016, 242], [2017, 234]]

[[2012, 0], [2012, 0], [2013, 1], [2013, 1]] 729

In [69]:
#Becarios por año fin
x=[str(a)[-4:] for a in df["fin"]]
x.sort()
fines={}
for a in x:
    fines[a]=fines.get(a,0)+1
fines = [[int(a),int(factor*fines[a])] for a in fines]
fines.sort(key=lambda x:x[0])
del(fines[0],fines[-1])
#Ajuste 729
fines[0][1]+=1
fines[5][1]+=1
fines[2][1]+=2
print(fines)
print(sum([x[1] for x in fines]))
lista_fines = []
for i in range(6):
    lista_fines+=fines[i][1]*[[fines[i][0],i]]
print()
print([lista_fines[j] for j in range(4)])

[[2016, 2], [2017, 217], [2018, 227], [2019, 192], [2020, 53], [2021, 38]]
729

[[2016, 0], [2016, 0], [2017, 1], [2017, 1]]

In [70]:
z=list(zip(lista_estados,lista_grados,lista_areas,lista_inicios,lista_fines))
for k in range(0,720,40):
    print(z[k])

(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], [2012, 0], [2016, 0])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], [2014, 2], [2017, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['II. BIOLOGIA Y QUIMICA', 1], [2014, 2], [2017, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['II. BIOLOGIA Y QUIMICA', 1], [2015, 3], [2017, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['III. MEDICINA Y CS. DE LA SALUD', 2], [2015, 3], [2017, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['III. MEDICINA Y CS. DE LA SALUD', 2], [2015, 3], [2017, 1])
(['ESTADO DE MEXICO', 1], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2015, 3], [2018, 2])
(['JALISCO', 2], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2016, 4], [2018, 2])
(['NUEVO LEON', 3], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2016, 4], [2018, 2])
(['PUEBLA', 4], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2016, 4], [2018, 2])
(['VERACRUZ', 5], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2016, 4], [2018, 2])
(['BAJA CALIFORNIA', 6], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2016, 4], [2018, 2])
(['GUANAJUATO', 8], ['Doctorado', 1], ['V. CIENCIAS SOCIALES', 4], [2016, 4], [2019, 3])
(['QUERETARO', 9], ['Doctorado', 1], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 5], [2017, 5], [2019, 3])
(['SAN LUIS POTOSI', 11], ['Doctorado', 1], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 5], [2017, 5], [2019, 3])
(['YUCATAN', 13], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2017, 5], [2019, 3])
(['CHIHUAHUA', 16], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2017, 5], [2020, 4])
(['GUERRERO', 21], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2017, 5], [2020, 4])

In [71]:
json="[\n"
for j, item in enumerate(z):
    x=int(j/27)
    y=j%27
    new="""{{"x":{},"y":{},"estado":"{}","estado_id":{},"grado":"{}","grado_id":{}, 
        "area":"{}","area_id":{}, "s_year":{}, "s_year_id":{}, "e_year":{}, "e_year_id":{}}},
        """
    json+=new.format(x,y,item[0][0],item[0][1], item[1][0],item[1][1],item[2][0],item[2][1],item[3][0],item[3][1],item[4][0],item[4][1])
json=json[:-10]+"\n]"
f=open('src\pairs.json','w',encoding="utf-8")
f.write(json)
f.close()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72102 entries, 0 to 72101
Data columns (total 11 columns):
Unnamed: 0     72102 non-null int64
﻿id            72102 non-null object
nombre         72102 non-null object
inicio         72102 non-null object
fin            72102 non-null object
grado          72102 non-null object
institucion    72102 non-null object
entidad        72102 non-null object
programa       72102 non-null object
area           72102 non-null object
monto          72102 non-null object
dtypes: int64(1), object(10)
memory usage: 6.1+ MB

In [100]:
df.sort_values(by="entidad").groupby(["entidad","grado"]).size()

entidad              grado
AGUASCALIENTES       1. DOC          199
                     2. MAE          318
                     3. ESP            3
BAJA CALIFORNIA      1. DOC          788
                     2. MAE         1948
                     3. ESP          168
BAJA CALIFORNIA SUR  1. DOC          249
                     2. MAE          379
CAMPECHE             1. DOC           16
                     2. MAE          144
CHIAPAS              1. DOC          243
                     2. MAE          549
                     3. ESP           27
CHIHUAHUA            1. DOC          297
                     2. MAE         1061
                     3. ESP           49
COAHUILA             1. DOC          433
                     2. MAE         1029
                     3. ESP           42
COLIMA               1. DOC          133
                     2. MAE          179
                     3. ESP           24
DISTRITO FEDERAL     1. DOC         8943
                     2. MAE        13019
                     3. ESP          716
                     4. EST TEC       99
DURANGO              1. DOC          172
                     2. MAE          362
ESTADO DE MEXICO     1. DOC         1439
                     2. MAE         2509
                                   ...
QUERETARO            3. ESP          145
QUINTANA ROO         1. DOC           72
                     2. MAE          226
SAN LUIS POTOSI      1. DOC          663
                     2. MAE         1181
                     3. ESP          169
SINALOA              1. DOC          472
                     2. MAE          857
                     3. ESP          141
SONORA               1. DOC          647
                     2. MAE         1082
                     3. ESP           14
TABASCO              1. DOC          151
                     2. MAE          414
                     3. ESP           39
TAMAULIPAS           1. DOC          195
                     2. MAE          722
                     3. ESP           58
TLAXCALA             1. DOC          121
                     2. MAE          379
                     3. ESP           10
VERACRUZ             1. DOC          667
                     2. MAE         2110
                     3. ESP          255
YUCATAN              1. DOC          465
                     2. MAE         1041
                     3. ESP          105
ZACATECAS            1. DOC          150
                     2. MAE          382
                     3. ESP           19
dtype: int64

In [135]:
x=df.sort_values(by="entidad").groupby(["entidad"]).size()
print(list(x.keys()))
# total_dict={}
# for k in x.keys():
#     total_dict[k.title()]=x[k]
# print(total_dict)

['AGUASCALIENTES', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR', 'CAMPECHE', 'CHIAPAS', 'CHIHUAHUA', 'COAHUILA', 'COLIMA', 'DISTRITO FEDERAL', 'DURANGO', 'ESTADO DE MEXICO', 'GUANAJUATO', 'GUERRERO', 'HIDALGO', 'JALISCO', 'MICHOACAN', 'MORELOS', 'NAYARIT', 'NUEVO LEON', 'OAXACA', 'PUEBLA', 'QUERETARO', 'QUINTANA ROO', 'SAN LUIS POTOSI', 'SINALOA', 'SONORA', 'TABASCO', 'TAMAULIPAS', 'TLAXCALA', 'VERACRUZ', 'YUCATAN', 'ZACATECAS']

In [118]:
x=df.sort_values(by="entidad").groupby(["entidad","grado"]).size()
y=df.sort_values(by="entidad").groupby(["entidad","area"]).size()
big_dict={}
# for x in x.keys():
#     print(x)
# for k in x.keys():
#     print(k[0].title())
for k in x.keys():
#     print("OK")
    country_dict=big_dict.get(k[0].title(),{})
    country_dict[k[1]]=x[k]/total_dict[k[0].title()]
    big_dict[k[0].title()]=country_dict
for k in y.keys():
#     print("OK")
    country_dict=big_dict.get(k[0].title(),{})
    country_dict[k[1]]=y[k]/total_dict[k[0].title()]
    big_dict[k[0].title()]=country_dict
# y=x.to_dict()
# for j in y.keys():
#     print(j)

In [138]:
x=list(df.sort_values(by="area").groupby(["area"]).size().keys())
y=list(df.sort_values(by="grado").groupby(["grado"]).size().keys())
for j in big_dict:
    big_dict[j]["name"]=j
    big_dict[j]["total"]=int(total_dict[j])
    for k in x:
        big_dict[j][k]=big_dict[j].get(k,0)
    for k in y:
        big_dict[j][k]=big_dict[j].get(k,0)

In [139]:
import json
with open("estados.json","w") as f:
    f.write(json.dumps(list(big_dict.values()),indent=4))