In [81]:
import pandas as pd
import numpy as np

In [82]:
df=pd.read_csv("data2015.csv", encoding="utf-8")

/home/leonardo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [83]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70073 entries, 0 to 70072
Data columns (total 10 columns):
id             70072 non-null object
nombre         70069 non-null object
inicio         70064 non-null object
fin            70064 non-null object
grado          70064 non-null object
institucion    70069 non-null object
entidad        70069 non-null object
programa       70069 non-null object
area           70065 non-null object
importe        70070 non-null object
dtypes: object(10)
memory usage: 5.3+ MB

,id,nombre,inicio,fin,grado,institucion,entidad,programa,area,importe
0,1,ROMERO DURAN JOSE NETZ,1/21/2013,1/20/2017,1. DOC,IPN,DISTRITO FEDERAL,DOCTORADO EN CIENCIAS DE LA COMPUTACION,VII. INGENIERIAS,151416
1,2,MUÑOZ MARQUEZ LEON RAFAEL,1/1/2014,12/31/2017,1. DOC,COLPOS,ESTADO DE MEXICO,DOCTORADO EN HIDROCIENCIAS,VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS,151416
2,3,GIRON DE LA PEÑA HECTOR,8/1/2013,6/30/2017,1. DOC,UNAM,DISTRITO FEDERAL,DOCTORADO EN ARQUITECTURA,IV. HUMANIDADES Y CS. DE LA CONDUCTA,126180
3,4,ESCAMILLA GALLEGOS OLIVIA,2/1/2014,12/31/2016,1. DOC,UA NUEVO LEON,NUEVO LEON,DOCTORADO EN CIENCIAS-1584,II. BIOLOGIA Y QUIMICA,151416
4,5,SANTANA BENHUMEA GRACIELA,8/1/2013,7/31/2016,1. DOC,UA EDO MEXICO,ESTADO DE MEXICO,DOCTORADO EN HUMANIDADES,IV. HUMANIDADES Y CS. DE LA CONDUCTA,151416

In [84]:
# Clean the data
# Find NaNs indexes
nans = lambda df: df[df.isnull().any(axis=1)]
nans_indexes = list(nans(df).index)
print(nans_indexes)

[70064, 70065, 70066, 70067, 70068, 70069, 70070, 70071, 70072]

In [85]:
# Inicio has weird date sometimes
invalid = df[df["inicio"]=="-"]
invalid_indexes = list(invalid.index)
print(invalid_indexes)

invalid=invalid_indexes+nans_indexes
df=df.drop(invalid)
df.info()

[]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 70064 entries, 0 to 70063
Data columns (total 10 columns):
id             70064 non-null object
nombre         70064 non-null object
inicio         70064 non-null object
fin            70064 non-null object
grado          70064 non-null object
institucion    70064 non-null object
entidad        70064 non-null object
programa       70064 non-null object
area           70064 non-null object
importe        70064 non-null object
dtypes: object(10)
memory usage: 5.9+ MB

In [86]:
df.to_csv("data2015clean.csv", encoding="utf-8")

In [87]:
#Normalizing factor for visualization
factor=729/70064

In [88]:
#Becarios by state
x=df[["entidad"]].groupby("entidad").size().sort_values(ascending=False)
estados=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
print(estados)
#Round-off errors
for j in range(18):
    estados[j][1]+=1
#List of states to zip
lista_estados= []
for i in range(32):
    lista_estados+=estados[i][1]*[[estados[i][0],i]]
print()
print([lista_estados[j] for j in range(4)],"\n" ,len(lista_estados))

[['DISTRITO FEDERAL', 230], ['ESTADO DE MEXICO', 46], ['JALISCO', 41], ['NUEVO LEON', 38], ['BAJA CALIFORNIA', 34], ['PUEBLA', 33], ['VERACRUZ', 32], ['MORELOS', 26], ['MICHOACAN', 23], ['GUANAJUATO', 21], ['QUERETARO', 21], ['SAN LUIS POTOSI', 20], ['CHIHUAHUA', 16], ['SONORA', 16], ['COAHUILA', 16], ['YUCATAN', 15], ['SINALOA', 13], ['TAMAULIPAS', 10], ['CHIAPAS', 7], ['HIDALGO', 7], ['AGUASCALIENTES', 5], ['ZACATECAS', 5], ['OAXACA', 5], ['BAJA CALIFORNIA SUR', 5], ['DURANGO', 5], ['TLAXCALA', 4], ['NAYARIT', 4], ['TABASCO', 3], ['COLIMA', 3], ['GUERRERO', 3], ['QUINTANA ROO', 3], ['CAMPECHE', 1]]

[['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0]]
 729

In [89]:
#Becarios por grado
x=df[["grado"]].groupby("grado").size().sort_values(ascending=False)
grados=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
print(grados)
#Ajustar para que de 729
grados[0][0]="Maestría"
grados[1][0]="Doctorado"
grados[2][0]="Especialidad"
grados[3][0]="Estancia Técnica"
grados[0][1]+=1
grados[1][1]+=1
#Crear la lista de la que haremos zip
lista_grados = []
for i in range(4):
    lista_grados+=grados[i][1]*[[grados[i][0],i]]
print()
print([lista_grados[j] for j in range(4)],"\n" ,len(lista_grados))

[['2. MAE', 470], ['1. DOC', 229], ['3. ESP', 27], ['4. EST TEC', 1]]

[['Maestría', 0], ['Maestría', 0], ['Maestría', 0], ['Maestría', 0]]
 729

In [90]:
#Becarios por area
x=df[["area"]].groupby("area").size().sort_values(ascending=False)
areas=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
areas.sort(key=lambda j:j[0])
#Ajustar para que de 729
print(areas)
print(areas)
for j in range(1,4):
    areas[j][1]+=1
sum([x[1] for x in areas])
areas[1][1]+=1
#Crear la lista de la que haremos zip
lista_areas = []
total=0
for i in range(7):
    lista_areas+=areas[i][1]*[[areas[i][0],i]]
    total+=areas[i][1]
print(total)
print([lista_areas[j] for j in range(4)])

[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 58], ['II. BIOLOGIA Y QUIMICA', 89], ['III. MEDICINA Y CS. DE LA SALUD', 63], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 105], ['V. CIENCIAS SOCIALES', 158], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 84], ['VII. INGENIERIAS', 168]]
[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 58], ['II. BIOLOGIA Y QUIMICA', 89], ['III. MEDICINA Y CS. DE LA SALUD', 63], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 105], ['V. CIENCIAS SOCIALES', 158], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 84], ['VII. INGENIERIAS', 168]]
729
[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0]]

In [91]:
#Becarios por año inicio
x=[str(a)[-4:] for a in df["inicio"]]
x.sort()
print(x[-1:-10:-1])
#Clean conflictive data
x=x[:-4]
inicios={}
for a in x:
    inicios[a]=inicios.get(a,0)+1
inicios = [[int(a),int(factor*inicios[a])] for a in inicios]
inicios.sort(key=lambda x:x[0])
print(inicios)
del(inicios[0],inicios[-1])
#Ajuste 729
inicios[0][1]+=1
inicios[3][1]+=1
inicios[4][1]+=1
inicios[5][1]+=2
print(inicios)
lista_inicios = []
for i in range(6):
    lista_inicios+=inicios[i][1]*[[inicios[i][0],i]]
print()
print([lista_inicios[j] for j in range(4)],len(lista_inicios))

['2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016']
[[2009, 0], [2010, 1], [2011, 25], [2012, 45], [2013, 170], [2014, 236], [2015, 247], [2016, 0]]
[[2010, 2], [2011, 25], [2012, 45], [2013, 171], [2014, 237], [2015, 249]]

[[2010, 0], [2010, 0], [2011, 1], [2011, 1]] 729

In [92]:
#Becarios por año fin
x=[str(a)[-4:] for a in df["fin"]]
x.sort()
#Clean conflictive data
x=x[:-4]
fines={}
for a in x:
    fines[a]=fines.get(a,0)+1
fines = [[int(a),int(factor*fines[a])] for a in fines]
fines.sort(key=lambda x:x[0])
print(fines)
del(fines[0],fines[0],fines[0],fines[-1])
#Ajuste 729
fines[0][1]+=2
fines[5][1]+=1
fines[2][1]+=1
print(fines)
print(sum([x[1] for x in fines]))
lista_fines = []
for i in range(6):
    lista_fines+=fines[i][1]*[[fines[i][0],i]]
print()
print([lista_fines[j] for j in range(4)])

[[2011, 0], [2012, 0], [2013, 0], [2014, 0], [2015, 220], [2016, 232], [2017, 188], [2018, 52], [2019, 33], [2020, 1]]
[[2014, 2], [2015, 220], [2016, 233], [2017, 188], [2018, 52], [2019, 34]]
729

[[2014, 0], [2014, 0], [2015, 1], [2015, 1]]

In [93]:
z=list(zip(lista_estados,lista_grados,lista_areas,lista_inicios,lista_fines))
for k in range(0,720,40):
    print(z[k])

(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], [2010, 0], [2014, 0])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], [2012, 2], [2015, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['II. BIOLOGIA Y QUIMICA', 1], [2013, 3], [2015, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['II. BIOLOGIA Y QUIMICA', 1], [2013, 3], [2015, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['III. MEDICINA Y CS. DE LA SALUD', 2], [2013, 3], [2015, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['III. MEDICINA Y CS. DE LA SALUD', 2], [2013, 3], [2015, 1])
(['ESTADO DE MEXICO', 1], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2013, 3], [2016, 2])
(['JALISCO', 2], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2014, 4], [2016, 2])
(['NUEVO LEON', 3], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2014, 4], [2016, 2])
(['BAJA CALIFORNIA', 4], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2014, 4], [2016, 2])
(['PUEBLA', 5], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2014, 4], [2016, 2])
(['VERACRUZ', 6], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2014, 4], [2016, 2])
(['MORELOS', 7], ['Doctorado', 1], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 5], [2015, 5], [2017, 3])
(['GUANAJUATO', 9], ['Doctorado', 1], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 5], [2015, 5], [2017, 3])
(['SAN LUIS POTOSI', 11], ['Doctorado', 1], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 5], [2015, 5], [2017, 3])
(['SONORA', 13], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2015, 5], [2017, 3])
(['YUCATAN', 15], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2015, 5], [2017, 3])
(['HIDALGO', 19], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2015, 5], [2018, 4])

In [94]:
json="[\n"
for j, item in enumerate(z):
    x=int(j/27)
    y=j%27
    new="""{{"x":{},"y":{},"estado":"{}","estado_id":{},"grado":"{}","grado_id":{}, 
        "area":"{}","area_id":{}, "s_year":{}, "s_year_id":{}, "e_year":{}, "e_year_id":{}}},
        """
    json+=new.format(x,y,item[0][0],item[0][1], item[1][0],item[1][1],item[2][0],item[2][1],item[3][0],item[3][1],item[4][0],item[4][1])
json=json[:-10]+"\n]"
f=open('pairs2015.json','w',encoding="utf-8")
f.write(json)
f.close()

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70064 entries, 0 to 70063
Data columns (total 10 columns):
id             70064 non-null object
nombre         70064 non-null object
inicio         70064 non-null object
fin            70064 non-null object
grado          70064 non-null object
institucion    70064 non-null object
entidad        70064 non-null object
programa       70064 non-null object
area           70064 non-null object
importe        70064 non-null object
dtypes: object(10)
memory usage: 5.9+ MB

In [96]:
df.sort_values(by="entidad").groupby(["entidad","grado"]).size()

entidad              grado
AGUASCALIENTES       1. DOC          206
                     2. MAE          357
                     3. ESP            8
BAJA CALIFORNIA      1. DOC          748
                     2. MAE         2331
                     3. ESP          228
BAJA CALIFORNIA SUR  1. DOC          226
                     2. MAE          322
CAMPECHE             1. DOC           17
                     2. MAE           91
CHIAPAS              1. DOC          188
                     2. MAE          534
                     3. ESP           32
CHIHUAHUA            1. DOC          260
                     2. MAE         1309
                     3. ESP           61
COAHUILA             1. DOC          372
                     2. MAE         1151
                     3. ESP           52
COLIMA               1. DOC          109
                     2. MAE          172
                     3. ESP           68
DISTRITO FEDERAL     1. DOC         8511
                     2. MAE        13063
                     3. ESP          432
                     4. EST TEC      132
DURANGO              1. DOC          150
                     2. MAE          390
ESTADO DE MEXICO     1. DOC         1368
                     2. MAE         2821
                                   ...
QUERETARO            3. ESP          157
QUINTANA ROO         1. DOC           41
                     2. MAE          287
SAN LUIS POTOSI      1. DOC          633
                     2. MAE         1205
                     3. ESP          121
SINALOA              1. DOC          400
                     2. MAE          813
                     3. ESP           86
SONORA               1. DOC          587
                     2. MAE          969
                     3. ESP           24
TABASCO              1. DOC           93
                     2. MAE          227
                     3. ESP           38
TAMAULIPAS           1. DOC          137
                     2. MAE          873
                     3. ESP           44
TLAXCALA             1. DOC          113
                     2. MAE          319
                     3. ESP            9
VERACRUZ             1. DOC          681
                     2. MAE         2121
                     3. ESP          321
YUCATAN              1. DOC          410
                     2. MAE          973
                     3. ESP          142
ZACATECAS            1. DOC          100
                     2. MAE          438
                     3. ESP           15
Length: 90, dtype: int64

In [97]:
x=df.sort_values(by="entidad").groupby(["entidad"]).size()
print(list(x.keys()))
total_dict={}
for k in x.keys():
    total_dict[k.title()]=x[k]
print(total_dict)
print(list(x.keys()), len(x))

['AGUASCALIENTES', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR', 'CAMPECHE', 'CHIAPAS', 'CHIHUAHUA', 'COAHUILA', 'COLIMA', 'DISTRITO FEDERAL', 'DURANGO', 'ESTADO DE MEXICO', 'GUANAJUATO', 'GUERRERO', 'HIDALGO', 'JALISCO', 'MICHOACAN', 'MORELOS', 'NAYARIT', 'NUEVO LEON', 'OAXACA', 'PUEBLA', 'QUERETARO', 'QUINTANA ROO', 'SAN LUIS POTOSI', 'SINALOA', 'SONORA', 'TABASCO', 'TAMAULIPAS', 'TLAXCALA', 'VERACRUZ', 'YUCATAN', 'ZACATECAS']
{'Aguascalientes': 571, 'Baja California': 3307, 'Baja California Sur': 548, 'Campeche': 108, 'Chiapas': 754, 'Chihuahua': 1630, 'Coahuila': 1575, 'Colima': 349, 'Distrito Federal': 22138, 'Durango': 540, 'Estado De Mexico': 4466, 'Guanajuato': 2063, 'Guerrero': 345, 'Hidalgo': 675, 'Jalisco': 3944, 'Michoacan': 2283, 'Morelos': 2561, 'Nayarit': 432, 'Nuevo Leon': 3715, 'Oaxaca': 549, 'Puebla': 3264, 'Queretaro': 2027, 'Quintana Roo': 328, 'San Luis Potosi': 1959, 'Sinaloa': 1299, 'Sonora': 1580, 'Tabasco': 358, 'Tamaulipas': 1054, 'Tlaxcala': 441, 'Veracruz': 3123, 'Yucatan': 1525, 'Zacatecas': 553}
['AGUASCALIENTES', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR', 'CAMPECHE', 'CHIAPAS', 'CHIHUAHUA', 'COAHUILA', 'COLIMA', 'DISTRITO FEDERAL', 'DURANGO', 'ESTADO DE MEXICO', 'GUANAJUATO', 'GUERRERO', 'HIDALGO', 'JALISCO', 'MICHOACAN', 'MORELOS', 'NAYARIT', 'NUEVO LEON', 'OAXACA', 'PUEBLA', 'QUERETARO', 'QUINTANA ROO', 'SAN LUIS POTOSI', 'SINALOA', 'SONORA', 'TABASCO', 'TAMAULIPAS', 'TLAXCALA', 'VERACRUZ', 'YUCATAN', 'ZACATECAS'] 32

In [98]:
x=df.sort_values(by="entidad").groupby(["entidad","grado"]).size()
y=df.sort_values(by="entidad").groupby(["entidad","area"]).size()
big_dict={}
# for x in x.keys():
#     print(x)
# for k in x.keys():
#     print(k[0].title())
for k in x.keys():
#     print("OK")
    country_dict=big_dict.get(k[0].title(),{})
    country_dict[k[1]]=x[k]/total_dict[k[0].title()]
    big_dict[k[0].title()]=country_dict
for k in y.keys():
#     print("OK")
    country_dict=big_dict.get(k[0].title(),{})
    country_dict[k[1]]=y[k]/total_dict[k[0].title()]
    big_dict[k[0].title()]=country_dict
# y=x.to_dict()
# for j in y.keys():
#     print(j)

In [99]:
x=list(df.sort_values(by="area").groupby(["area"]).size().keys())
y=list(df.sort_values(by="grado").groupby(["grado"]).size().keys())
for j in big_dict:
    big_dict[j]["name"]=j
    big_dict[j]["total"]=int(total_dict[j])
    for k in x:
        big_dict[j][k]=big_dict[j].get(k,0)
    for k in y:
        big_dict[j][k]=big_dict[j].get(k,0)

In [100]:
import json
with open("estados2015.json","w") as f:
    f.write(json.dumps(list(big_dict.values()),indent=4))