In [72]:
import pandas as pd
import numpy as np

In [73]:
df=pd.read_csv("data2016.csv", encoding="utf-8")

In [74]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72113 entries, 0 to 72112
Data columns (total 10 columns):
id             72113 non-null int64
nombre         72113 non-null object
inicio         72110 non-null object
fin            72108 non-null object
grado          72110 non-null object
institucion    72113 non-null object
entidad        72113 non-null object
programa       72113 non-null object
area           72113 non-null object
importe        72113 non-null object
dtypes: int64(1), object(9)
memory usage: 5.5+ MB

,id,nombre,inicio,fin,grado,institucion,entidad,programa,area,importe
0,1,SOLANO DE LA CRUZ MARCO TULIO,01/08/2011,31/07/2016,1. DOC,U VERACRUZANA,VERACRUZ,DOCTORADO EN CIENCIAS EN ECOLOGIA Y BIOTECNOLOGIA,VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS,144619.2
1,2,CERVANTES ALDAY RAQUEL,01/08/2011,31/07/2016,1. DOC,U VERACRUZANA,VERACRUZ,DOCTORADO EN CIENCIAS EN ECOLOGIA Y BIOTECNOLOGIA,VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS,157766.4
2,3,GARCIA SILVERA EDGAR EDURMAN,08/08/2011,30/01/2017,1. DOC,UA EDO MORELOS,MORELOS,DOCTORADO EN CIENCIAS BIOQUIMICAS,II. BIOLOGIA Y QUIMICA,157766.4
3,4,PARRA TORRES ALMA YOLILIZTLI,08/08/2011,31/01/2017,1. DOC,UNAM,DISTRITO FEDERAL,DOCTORADO EN CIENCIAS BIOMEDICAS,II. BIOLOGIA Y QUIMICA,157766.4
4,5,SANCHEZ MONROY MA. BEATRIZ,08/08/2011,31/01/2017,1. DOC,UNAM,DISTRITO FEDERAL,DOCTORADO EN CIENCIAS BIOMEDICAS,II. BIOLOGIA Y QUIMICA,157766.4

In [75]:
# Clean the data
# Find NaNs indexes
nans = lambda df: df[df.isnull().any(axis=1)]
nans_indexes = list(nans(df).index)
print(nans_indexes)

[6873, 7258, 53198, 71957, 71959, 71960]

In [76]:
# Inicio has weird date sometimes
invalid = df[df["inicio"]=="-"]
invalid_indexes = list(invalid.index)
print(invalid_indexes)

invalid=invalid_indexes+nans_indexes
df=df.drop(invalid)
df.info()

[]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72107 entries, 0 to 72112
Data columns (total 10 columns):
id             72107 non-null int64
nombre         72107 non-null object
inicio         72107 non-null object
fin            72107 non-null object
grado          72107 non-null object
institucion    72107 non-null object
entidad        72107 non-null object
programa       72107 non-null object
area           72107 non-null object
importe        72107 non-null object
dtypes: int64(1), object(9)
memory usage: 6.1+ MB

In [63]:
df.to_csv("data2016clean.csv", encoding="utf-8")

In [77]:
#Normalizing factor for visualization
factor=729/72107

In [78]:
#Becarios by state
x=df[["entidad"]].groupby("entidad").size().sort_values(ascending=False)
estados=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
print(estados)
#Round-off errors
for j in range(19):
    estados[j][1]+=1
#List of states to zip
lista_estados= []
for i in range(32):
    lista_estados+=estados[i][1]*[[estados[i][0],i]]
print()
print([lista_estados[j] for j in range(4)],"\n" ,len(lista_estados))

[['DISTRITO FEDERAL', 233], ['ESTADO DE MEXICO', 43], ['JALISCO', 41], ['NUEVO LEON', 36], ['PUEBLA', 35], ['BAJA CALIFORNIA', 32], ['VERACRUZ', 31], ['MORELOS', 26], ['MICHOACAN', 22], ['GUANAJUATO', 21], ['QUERETARO', 21], ['SAN LUIS POTOSI', 20], ['SONORA', 17], ['YUCATAN', 17], ['COAHUILA', 15], ['CHIHUAHUA', 14], ['SINALOA', 13], ['TAMAULIPAS', 10], ['CHIAPAS', 8], ['HIDALGO', 7], ['OAXACA', 6], ['BAJA CALIFORNIA SUR', 5], ['AGUASCALIENTES', 5], ['GUERRERO', 5], ['DURANGO', 5], ['TABASCO', 4], ['TLAXCALA', 4], ['ZACATECAS', 4], ['QUINTANA ROO', 3], ['NAYARIT', 3], ['COLIMA', 3], ['CAMPECHE', 1]]

[['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0], ['DISTRITO FEDERAL', 0]]
 729

In [79]:
#Becarios por grado
x=df[["grado"]].groupby("grado").size().sort_values(ascending=False)
grados=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
print(grados)
#Ajustar para que de 729
grados[0][0]="Maestría"
grados[1][0]="Doctorado"
grados[2][0]="Especialidad"
grados[3][0]="Estancia Técnica"
grados[0][1]+=1
grados[1][1]+=1
#Crear la lista de la que haremos zip
lista_grados = []
for i in range(4):
    lista_grados+=grados[i][1]*[[grados[i][0],i]]
print()
print([lista_grados[j] for j in range(4)],"\n" ,len(lista_grados))

[['2. MAE', 464], ['1. DOC', 233], ['3. ESP', 29], ['4. EST TEC', 1]]

[['Maestría', 0], ['Maestría', 0], ['Maestría', 0], ['Maestría', 0]]
 729

In [82]:
#Becarios por area
x=df[["area"]].groupby("area").size().sort_values(ascending=False)
areas=[[x.keys()[i],int(factor*j)] for i,j in enumerate(x)]
areas.sort(key=lambda j:j[0])
#Ajustar para que de 729
print(areas)
del(areas[4])
print(areas)
for j in range(1,4):
    areas[j][1]+=1
sum([x[1] for x in areas])
areas[1][1]+=1
#Crear la lista de la que haremos zip
lista_areas = []
total=0
for i in range(7):
    lista_areas+=areas[i][1]*[[areas[i][0],i]]
    total+=areas[i][1]
print(total)
print([lista_areas[j] for j in range(4)])

[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 58], ['II. BIOLOGIA Y QUIMICA', 92], ['III. MEDICINA Y CS. DE LA SALUD', 65], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 108], ['N/D', 0], ['V. CIENCIAS SOCIALES', 158], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 83], ['VII. INGENIERIAS', 161]]
[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 58], ['II. BIOLOGIA Y QUIMICA', 92], ['III. MEDICINA Y CS. DE LA SALUD', 65], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 108], ['V. CIENCIAS SOCIALES', 158], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 83], ['VII. INGENIERIAS', 161]]
729
[['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0]]

In [84]:
#Becarios por año inicio
x=[str(a)[-4:] for a in df["inicio"]]
x.sort()
print(x[-1:-10:-1])
#Clean conflictive data
x=x[:-4]
inicios={}
for a in x:
    inicios[a]=inicios.get(a,0)+1
inicios = [[int(a),int(factor*inicios[a])] for a in inicios]
inicios.sort(key=lambda x:x[0])
print(inicios)
del(inicios[0],inicios[0],inicios[-1])
#Ajuste 729
inicios[0][1]+=1
inicios[5][1]+=1
print(inicios)
lista_inicios = []
for i in range(6):
    lista_inicios+=inicios[i][1]*[[inicios[i][0],i]]
print()
print([lista_inicios[j] for j in range(4)],len(lista_inicios))

['2017', '2017', '2017', '2017', '2017', '2016', '2016', '2016', '2016']
[[2006, 0], [2010, 0], [2011, 1], [2012, 29], [2013, 43], [2014, 175], [2015, 230], [2016, 249], [2017, 0]]
[[2011, 2], [2012, 29], [2013, 43], [2014, 175], [2015, 230], [2016, 250]]

[[2011, 0], [2011, 0], [2012, 1], [2012, 1]] 729

In [89]:
#Becarios por año fin
x=[str(a)[-4:] for a in df["fin"]]
x.sort()
#Clean conflictive data
x=x[:-4]
fines={}
for a in x:
    fines[a]=fines.get(a,0)+1
fines = [[int(a),int(factor*fines[a])] for a in fines]
fines.sort(key=lambda x:x[0])
print(fines)
del(fines[0],fines[-1])
#Ajuste 729
fines[0][1]+=1
fines[4][1]+=1
fines[2][1]+=1
print(fines)
print(sum([x[1] for x in fines]))
lista_fines = []
for i in range(6):
    lista_fines+=fines[i][1]*[[fines[i][0],i]]
print()
print([lista_fines[j] for j in range(4)])

[[2010, 0], [2015, 0], [2016, 220], [2017, 224], [2018, 196], [2019, 49], [2020, 37], [2021, 1]]
[[2015, 1], [2016, 220], [2017, 225], [2018, 196], [2019, 50], [2020, 37]]
729

[[2015, 0], [2016, 1], [2016, 1], [2016, 1]]

In [90]:
z=list(zip(lista_estados,lista_grados,lista_areas,lista_inicios,lista_fines))
for k in range(0,720,40):
    print(z[k])

(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], [2011, 0], [2015, 0])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['I. FISICO MATEMATICAS Y CS. DE LA TIERRA', 0], [2013, 2], [2016, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['II. BIOLOGIA Y QUIMICA', 1], [2014, 3], [2016, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['II. BIOLOGIA Y QUIMICA', 1], [2014, 3], [2016, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['III. MEDICINA Y CS. DE LA SALUD', 2], [2014, 3], [2016, 1])
(['DISTRITO FEDERAL', 0], ['Maestría', 0], ['III. MEDICINA Y CS. DE LA SALUD', 2], [2014, 3], [2016, 1])
(['ESTADO DE MEXICO', 1], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2014, 3], [2017, 2])
(['JALISCO', 2], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2015, 4], [2017, 2])
(['NUEVO LEON', 3], ['Maestría', 0], ['IV. HUMANIDADES Y CS. DE LA CONDUCTA', 3], [2015, 4], [2017, 2])
(['PUEBLA', 4], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2015, 4], [2017, 2])
(['BAJA CALIFORNIA', 5], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2015, 4], [2017, 2])
(['VERACRUZ', 6], ['Maestría', 0], ['V. CIENCIAS SOCIALES', 4], [2015, 4], [2017, 2])
(['MORELOS', 7], ['Doctorado', 1], ['V. CIENCIAS SOCIALES', 4], [2016, 5], [2018, 3])
(['GUANAJUATO', 9], ['Doctorado', 1], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 5], [2016, 5], [2018, 3])
(['SAN LUIS POTOSI', 11], ['Doctorado', 1], ['VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 5], [2016, 5], [2018, 3])
(['YUCATAN', 13], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2016, 5], [2018, 3])
(['SINALOA', 16], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2016, 5], [2018, 3])
(['HIDALGO', 19], ['Doctorado', 1], ['VII. INGENIERIAS', 6], [2016, 5], [2019, 4])

In [91]:
json="[\n"
for j, item in enumerate(z):
    x=int(j/27)
    y=j%27
    new="""{{"x":{},"y":{},"estado":"{}","estado_id":{},"grado":"{}","grado_id":{}, 
        "area":"{}","area_id":{}, "s_year":{}, "s_year_id":{}, "e_year":{}, "e_year_id":{}}},
        """
    json+=new.format(x,y,item[0][0],item[0][1], item[1][0],item[1][1],item[2][0],item[2][1],item[3][0],item[3][1],item[4][0],item[4][1])
json=json[:-10]+"\n]"
f=open('pairs2016.json','w',encoding="utf-8")
f.write(json)
f.close()

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72107 entries, 0 to 72112
Data columns (total 10 columns):
id             72107 non-null int64
nombre         72107 non-null object
inicio         72107 non-null object
fin            72107 non-null object
grado          72107 non-null object
institucion    72107 non-null object
entidad        72107 non-null object
programa       72107 non-null object
area           72107 non-null object
importe        72107 non-null object
dtypes: int64(1), object(9)
memory usage: 6.1+ MB

In [93]:
df.sort_values(by="entidad").groupby(["entidad","grado"]).size()

entidad              grado
AGUASCALIENTES       1. DOC          221
                     2. MAE          363
                     3. ESP            5
BAJA CALIFORNIA      1. DOC          806
                     2. MAE         2229
                     3. ESP          217
BAJA CALIFORNIA SUR  1. DOC          235
                     2. MAE          357
CAMPECHE             1. DOC           17
                     2. MAE          123
CHIAPAS              1. DOC          250
                     2. MAE          610
                     3. ESP           30
CHIHUAHUA            1. DOC          284
                     2. MAE         1059
                     3. ESP           63
COAHUILA             1. DOC          417
                     2. MAE         1103
                     3. ESP           47
COLIMA               1. DOC          105
                     2. MAE          183
                     3. ESP           58
DISTRITO FEDERAL     1. DOC         8922
                     2. MAE        13500
                     3. ESP          533
                     4. EST TEC      115
DURANGO              1. DOC          169
                     2. MAE          370
ESTADO DE MEXICO     1. DOC         1406
                     2. MAE         2619
                                   ...
QUERETARO            3. ESP          147
QUINTANA ROO         1. DOC           57
                     2. MAE          311
SAN LUIS POTOSI      1. DOC          625
                     2. MAE         1221
                     3. ESP          138
SINALOA              1. DOC          398
                     2. MAE          833
                     3. ESP          107
SONORA               1. DOC          609
                     2. MAE         1090
                     3. ESP           13
TABASCO              1. DOC          130
                     2. MAE          325
                     3. ESP           38
TAMAULIPAS           1. DOC          158
                     2. MAE          849
                     3. ESP           72
TLAXCALA             1. DOC          119
                     2. MAE          361
                     3. ESP           10
VERACRUZ             1. DOC          691
                     2. MAE         2128
                     3. ESP          285
YUCATAN              1. DOC          445
                     2. MAE         1091
                     3. ESP          160
ZACATECAS            1. DOC          140
                     2. MAE          337
                     3. ESP           11
Length: 92, dtype: int64

In [97]:
x=df.sort_values(by="entidad").groupby(["entidad"]).size()
print(list(x.keys()))
total_dict={}
for k in x.keys():
    total_dict[k.title()]=x[k]
print(total_dict)
print(list(x.keys()), len(x))

['AGUASCALIENTES', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR', 'CAMPECHE', 'CHIAPAS', 'CHIHUAHUA', 'COAHUILA', 'COLIMA', 'DISTRITO FEDERAL', 'DURANGO', 'ESTADO DE MEXICO', 'GUANAJUATO', 'GUERRERO', 'HIDALGO', 'JALISCO', 'MICHOACAN', 'MORELOS', 'NAYARIT', 'NUEVO LEON', 'OAXACA', 'PUEBLA', 'QUERETARO', 'QUINTANA ROO', 'SAN LUIS POTOSI', 'SINALOA', 'SONORA', 'TABASCO', 'TAMAULIPAS', 'TLAXCALA', 'VERACRUZ', 'YUCATAN', 'ZACATECAS']
{'Aguascalientes': 589, 'Baja California': 3252, 'Baja California Sur': 592, 'Campeche': 140, 'Chiapas': 890, 'Chihuahua': 1406, 'Coahuila': 1567, 'Colima': 346, 'Distrito Federal': 23070, 'Durango': 539, 'Estado De Mexico': 4345, 'Guanajuato': 2170, 'Guerrero': 556, 'Hidalgo': 730, 'Jalisco': 4088, 'Michoacan': 2178, 'Morelos': 2642, 'Nayarit': 350, 'Nuevo Leon': 3650, 'Oaxaca': 626, 'Puebla': 3463, 'Queretaro': 2166, 'Quintana Roo': 368, 'San Luis Potosi': 1984, 'Sinaloa': 1338, 'Sonora': 1712, 'Tabasco': 493, 'Tamaulipas': 1079, 'Tlaxcala': 490, 'Veracruz': 3104, 'Yucatan': 1696, 'Zacatecas': 488}
['AGUASCALIENTES', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR', 'CAMPECHE', 'CHIAPAS', 'CHIHUAHUA', 'COAHUILA', 'COLIMA', 'DISTRITO FEDERAL', 'DURANGO', 'ESTADO DE MEXICO', 'GUANAJUATO', 'GUERRERO', 'HIDALGO', 'JALISCO', 'MICHOACAN', 'MORELOS', 'NAYARIT', 'NUEVO LEON', 'OAXACA', 'PUEBLA', 'QUERETARO', 'QUINTANA ROO', 'SAN LUIS POTOSI', 'SINALOA', 'SONORA', 'TABASCO', 'TAMAULIPAS', 'TLAXCALA', 'VERACRUZ', 'YUCATAN', 'ZACATECAS'] 32

In [98]:
x=df.sort_values(by="entidad").groupby(["entidad","grado"]).size()
y=df.sort_values(by="entidad").groupby(["entidad","area"]).size()
big_dict={}
# for x in x.keys():
#     print(x)
# for k in x.keys():
#     print(k[0].title())
for k in x.keys():
#     print("OK")
    country_dict=big_dict.get(k[0].title(),{})
    country_dict[k[1]]=x[k]/total_dict[k[0].title()]
    big_dict[k[0].title()]=country_dict
for k in y.keys():
#     print("OK")
    country_dict=big_dict.get(k[0].title(),{})
    country_dict[k[1]]=y[k]/total_dict[k[0].title()]
    big_dict[k[0].title()]=country_dict
# y=x.to_dict()
# for j in y.keys():
#     print(j)

In [99]:
x=list(df.sort_values(by="area").groupby(["area"]).size().keys())
y=list(df.sort_values(by="grado").groupby(["grado"]).size().keys())
for j in big_dict:
    big_dict[j]["name"]=j
    big_dict[j]["total"]=int(total_dict[j])
    for k in x:
        big_dict[j][k]=big_dict[j].get(k,0)
    for k in y:
        big_dict[j][k]=big_dict[j].get(k,0)

In [101]:
import json
with open("estados2016.json","w") as f:
    f.write(json.dumps(list(big_dict.values()),indent=4))